In [ ]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
customers = pd.read_csv("../datasets/olist_dataset/olist_customers_dataset.csv")
orders = pd.read_csv("../datasets/olist_dataset/olist_orders_dataset.csv")
payments = pd.read_csv("../datasets/olist_dataset/olist_order_payments_dataset.csv")
reviews = pd.read_csv("../datasets/olist_dataset/olist_order_reviews_dataset.csv")

In [3]:
# Uniamo i dati per ogni cliente
df = orders.merge(customers, on='customer_id', how='left') \
           .merge(payments, on='order_id', how='left') \
           .merge(reviews, on='order_id', how='left')

# Calcoliamo caratteristiche utili per il clustering
customer_features = df.groupby('customer_unique_id').agg({
    'order_id': 'count',  # frequenza
    'payment_value': 'sum',  # spesa totale
    'review_score': 'mean',  # qualit√† esperienza
}).rename(columns={
    'order_id': 'num_orders',
    'payment_value': 'total_spent',
    'review_score': 'avg_review'
}).reset_index()

In [4]:
customer_features.head()

                 customer_unique_id  num_orders  total_spent  avg_review
0  0000366f3b9a7992bf8c76cfdf3221e2           1       141.90         5.0
1  0000b849f77a49e4a4ce2b2a4ca5be3f           1        27.19         4.0
2  0000f46a3911fa3c0805444483337064           1        86.22         3.0
3  0000f6ccb0745a6a4b88665a16c9f078           1        43.62         4.0
4  0004aac84e0df4da2b147fca70cf8255           1       196.89         5.0